.block-text {
  background-image: url(../img/background-orange.png);
  background-position: center;
  background-size: cover;

  .inner-block-text {
    padding: 60px 0;

    .content {
      max-width: 960px;
      margin: 0 auto;
      color: #fff;

      h1, h2, h3 {
        font-size: 50px;
        line-height: 58px;
        font-weight: 300;
      }
      p {
        font-size: 30px;
        line-height: 34px;
        font-weight: 300;
      }

      @media screen and (max-width: 991px) {
        h1, h2, h3 {
          font-size: 32px;
          line-height: 38px;
          font-weight: 300;
        }
        p {
          font-size: 20px;
          line-height: 30px;
          font-weight: 300;
        }
      }
    }
  }
}